<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= vname %> 的菜品</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="col-md-9">
    <ul>
        <% dish_items.forEach(function(item){%>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://localhost:3000/<%= item.dpicture %>" alt="..." width="200" height="200">
                </a>
                <div class="caption text-center">
                    <h3><%= item.dname %></h3>
                    <p>价格：<%= item.price %></p>
                    <p>销量：<%= item.sale %></p>
                    <p><a href="/customer/detail/add?dname=<%= item.dname %>" class="btn btn-primary" role="button">+</a>
                        <a href="/customer/detail/delete?dname=<%= item.dname %>" class="btn btn-default" role="button">-</a>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
    </ul>
    </div>
    <div class="col-md-3">
        <h2>已选的菜品</h2>
        <ul>
            <% var idx = 0; %>
            <% for(var i in choose_items){ %>
                <% idx = idx + 1; %>
                <p>菜品 <%= idx %>：<%= choose_items[i].dname %> —— <%= choose_items[i].price %>元</p>
            <% } %>
        </ul>
        <p><strong>总价：<%= total_price %>元</strong></p>
        <p><strong>起送价：<%= fprice %>元</strong></p>
    </div>

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/common.js"></script>
</html>