<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单记录</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="caption text-center">
        <h3><strong>未处理的订单</strong></h3>
    </div>
    <ul>
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>顾客 <%= unfinished_task[0] %> 创建的订单</h3>
                    <ul>
                        <% var idx = 0; %>
                        <% for(var i = 3; i < unfinished_task.length; i++){ %>
                            <% idx = i - 2; %>
                            <p>菜品 <%= idx %>：<%= unfinished_task[i] %></p>
                        <% } %>
                    </ul>
                    <p>下单时间：<%= unfinished_task[1] %></p>
                    <!-- <p><a href="/customer/history/confirm?ttid=<%= unfinished_task[2] %>" class="btn btn-primary" role="button" method="get">确认完成</a> -->
                </div>
            </div>
    </ul>
    <div class="caption text-center">
        <h3><strong>已完成的订单</strong></h3>
    </div>
    <div class="col-md-9">
    <ul>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <ul>
                        <h3>客户 <%= finished_task[0] %> 创建的订单</h3>
                        <% var idx = 0; %>
                        <% for(var i = 3; i < finished_task.length; i++){ %>
                            <% idx = i - 2; %>
                            <p>菜品 <%= idx %>：<%= finished_task[i] %></p>
                        <% } %>
                    </ul>
                    <p>订单创建时间：<%= finished_task[1] %></p>
                    <p>订单完成时间：<%= finished_task[2] %></p>
                    <!-- <p><a href="/customer/history/confirm" class="btn btn-primary" role="button" method="get">确认完成</a> -->
                </div>
            </div>
        </div>
    </ul>
    </div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/common.js"></script>
</html>