<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单记录</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="caption text-center">
        <h3><strong>待处理的订单</strong></h3>
    </div>
    <ul>
        <div class="container">
            <% for(var i = 0;i < unfinished_task.length; i++){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>顾客 <%= unfinished_task[i][0] %> 的订单</h3>
                        <ul>
                            <% var idx = 0; %>
                            <% for(var j = 3; j < unfinished_task[i].length; j++){ %>
                                <% idx = j - 2; %>
                                <p>菜品 <%= idx %>：<%= unfinished_task[i][j][0] %> —— <%= unfinished_task[i][j][1] %>元</p>
                            <% } %>
                        </ul>
                        <p>总消费金额：<%= unfinished_task[i][2] %></p>
                        <p>订单创建时间：<%= unfinished_task[i][1] %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </ul>
    <div class="caption text-center">
        <h3><strong>已完成的订单</strong></h3>
    </div>
    <ul>
        <div class="container">
            <% for(var i = 0;i < finished_task.length; i++){ %>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>顾客 <%= finished_task[i][0] %> 的订单</h3>
                        <ul>
                            <% var idx = 0; %>
                            <% for(var j = 6; j < finished_task[i].length; j++){ %>
                                <% idx = j - 5; %>
                                <p>菜品 <%= idx %>：<%= finished_task[i][j][0] %> —— <%= finished_task[i][j][1] %>元</p>
                            <% } %>
                        </ul>
                        <p>总消费金额：<%= finished_task[i][3] %></p>
                        <p>订单创建时间：<%= finished_task[i][1] %></p>
                        <p>订单完成时间：<%= finished_task[i][2] %></p>
                        <p>顾客评论：<%= finished_task[i][4] %></p>
                        <p>顾客评分(0-5)：<%= finished_task[i][5] %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </ul>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/common.js"></script>
</html>